MOBILE APPLICATIONS DEVELOPMENT

COMPETENCIES:
4026.1.1: INTRODUCTION TO MOBILE APPLICATION DEVELOPMENT - THE GRADUATE EXPLAINS MOBILE DEVELOPMENT, DEVELOPS A SIMPLE MOBILE APPLICATION USING IDE, DOCUMENTS DEBUGGING THE MOBILE APPLICATION, AND DESCRIBES HOW TO USE AN EMULATOR.
4026.1.2: ACTIVITY LIFECYCLE - THE GRADUATE DESCRIBES THE ACTIVITY LIFECYCLE IN THE MOBILE APPLICATION, AND CREATES AND LINKS AN ACTIVITY.
4026.1.3: USER INTERFACES AND HANDLING USER INPUT - THE GRADUATE CREATES A USER INTERFACE AND DESCRIBES HOW TO HANDLE USER INPUT.
4026.1.4: SAVING DATA - THE GRADUATE EXPLAINS WAYS TO SAVE DATA IN A MOBILE APPLICATION, AND CREATES A DATABASE IN A MOBILE APPLICATION.
4026.1.5: SHARING INFORMATION - THE GRADUATE EXPLAINS HOW TO SHARE INFORMATION IN MOBILE APPLICATIONS AND CREATES A USER-DEFINED CONTENT PROVIDER.
4026.1.6: SUPPORTING DIFFERENT DEVICES - THE GRADUATE DESCRIBES HOW TO UTILIZE THE AVAILABLE HARDWARE AND SERVICES AVAILABLE IN DIFFERENT DEVICES.
4026.1.7: DEPLOYING MOBILE APPLICATION - THE GRADUATE DESCRIBES MOBILE APPLICATION DEPLOYMENT AND PREPARES AN APPLICATION FOR DEPLOYMENT.

TASK 1: MOBILE APPLICATION DEVELOPMENT
INTRODUCTION:

AS A COMPETENT MOBILE APPLICATION DEVELOPER, YOUR UNDERSTANDING OF MOBILE APPLICATION STRUCTURE AND DESIGN WILL HELP YOU TO DEVELOP APPLICATIONS TO MEET CUSTOMER REQUIREMENTS. THE FOLLOWING PROJECT TO DEVELOP A STUDENT SCHEDULER/STUDENT PROGRESS TRACKING APPLICATION, WILL HELP YOU TO APPLY THESE SKILLS IN A FAMILIAR, REAL-WORLD SCENARIO. THIS TASK WILL ALLOW YOU TO DEMONSTRATE YOUR ABILITY TO APPLY THE SKILLS LEARNED IN THE COURSE.

YOU WILL DEVELOP A MULTIPLE-SCREEN MOBILE APPLICATION FOR WGU STUDENTS TO TRACK THEIR TERMS, COURSES ASSOCIATED WITH EACH TERM, AND ASSESSMENT(S) ASSOCIATED WITH EACH COURSE. THE APPLICATION WILL ALLOW STUDENTS TO ENTER, EDIT, AND DELETE TERM, COURSE, AND ASSESSMENT DATA. IT SHOULD PROVIDE SUMMARY AND DETAILED VIEWS OF COURSES FOR EACH TERM AND PROVIDE ALERTS FOR UPCOMING PERFORMANCE AND OBJECTIVE ASSESSMENTS. THIS APPLICATION WILL USE A SQLITE DATABASE.
INPUT
EACH OF THE FOLLOWING NEEDS TO BE INPUT INTO THE APPLICATION:
•   TERMS, INCLUDING THE FOLLOWING:
-   THE TERM TITLE (E.G., TERM 1, TERM 2)
-   THE START DATE
-   THE END DATE
•   COURSES, INCLUDING THE FOLLOWING:
-   THE COURSE TITLE
-   THE START DATE
-   THE ANTICIPATED END DATE
-   THE STATUS (E.G., IN PROGRESS, COMPLETED, DROPPED, PLAN TO TAKE)
-   THE COURSE MENTOR NAME(S), PHONE NUMBER(S), AND EMAIL ADDRESS(ES)
•   OBJECTIVE AND PERFORMANCE ASSESSMENTS ASSOCIATED WITH EACH COURSE
•   THE ABILITY TO ADD OPTIONAL NOTES FOR EACH COURSE
•   THE ABILITY TO SET ALERTS OR NOTIFICATIONS FOR THE START AND END DATE OF EACH COURSE
•   THE ABILITY TO SET ALERTS FOR GOAL DATES FOR EACH OBJECTIVE AND PERFORMANCE ASSESSMENT
•   THE ABILITY TO INSERT PHOTOS IN NOTES FROM A CAMERA
 
OUTPUT
EACH OF THE FOLLOWING NEEDS TO BE DISPLAYED BY THE APPLICATION ON A SEPARATE SCREEN:
•   THE NAVIGATION PANEL
•   A LIST OF TERMS
•   A DETAILED VIEW OF EACH TERM, INCLUDING THE FOLLOWING:
-   THE TITLE (E.G., TERM 1, TERM 2)
-   THE START DATE
-   THE END DATE
•   A LIST OF COURSES FOR EACH TERM
•   A DETAILED VIEW OF EACH COURSE, INCLUDING THE FOLLOWING:
-   THE COURSE TITLE
-   THE START DATE
-   THE ANTICIPATED END DATE
-   ASSESSMENTS
•   A LIST OF PERFORMANCE AND OBJECTIVE ASSESSMENTS FOR A SELECTED COURSE
•   A DETAILED VIEW OF EACH OBJECTIVE AND PERFORMANCE ASSESSMENT, INCLUDING THE FOLLOWING:
-   THE DUE DATE FOR A SELECTED COURSE
-   NOTES FOR THE SELECTED COURSE
-   SHARING FEATURES (E.G., EMAIL, SMS)
 
REQUIREMENTS:

NOTE: SUBMIT YOUR PERFORMANCE ASSESSMENT BY INCLUDING ALL ANDROID PROJECT FILES, APK, AND SIGNED APK FILES IN ONE ZIPPED.ZIP FILE.

NOTE: FOR YOUR CONVENIENCE AN OPTIONAL CHECKLIST IS ATTACHED TO HELP GUIDE YOU THROUGH THIS PERFORMANCE ASSESSMENT.
A.  CREATE AN ANDROID (VERSION 4.0 OR HIGHER) MOBILE APPLICATION WITH THE FOLLOWING FUNCTIONAL REQUIREMENTS:
1.  INCLUDE THE FOLLOWING INFORMATION FOR EACH TERM:
•   THE TERM TITLE (E.G., TERM 1, TERM 2)
•   THE START DATE
•   THE END DATE
2.  INCLUDE FEATURES THAT ALLOW THE USER TO ADD AS MANY TERMS AS NEEDED.
3.  IMPLEMENT VALIDATION SO THAT A TERM CANNOT BE DELETED IF COURSES ARE ASSIGNED TO IT.
4.  INCLUDE FEATURES THAT ALLOW THE USER TO DO THE FOLLOWING FOR EACH TERM:
A.  ADD AS MANY COURSES AS NEEDED
B.  DISPLAY A LIST OF COURSES ASSOCIATED WITH EACH TERM
C.  DISPLAY A DETAILED VIEW OF EACH TERM, WHICH INCLUDES THE FOLLOWING INFORMATION:
•   THE TERM TITLE (E.G., TERM 1, TERM 2)
•   THE START DATE
•   THE END DATE
5.  INCLUDE THE FOLLOWING DETAILS FOR EACH COURSE:
•   THE COURSE TITLE
•   THE START DATE
•   THE ANTICIPATED END DATE
•   THE STATUS (E.G., IN PROGRESS, COMPLETED, DROPPED, PLAN TO TAKE)
•   THE COURSE MENTOR NAME(S), PHONE NUMBER(S), AND E-MAIL ADDRESS(ES)
6.  INCLUDE FEATURES THAT ALLOW THE USER TO DO THE FOLLOWING FOR EACH COURSE:
A.  ADD AS MANY ASSESSMENTS AS NEEDED
B.  ADD OPTIONAL NOTES
C.  ENTER, EDIT, AND DELETE COURSE INFORMATION
D.  DISPLAY OPTIONAL NOTES
E.  DISPLAY A DETAILED VIEW OF THE COURSE, INCLUDING THE DUE DATE
F.  SET ALERTS FOR THE START AND END DATE
G.  SHARE NOTES VIA A SHARING FEATURE (E.G., E-MAIL, SMS)
7.  INCLUDE FEATURES THAT ALLOW THE USER TO DO THE FOLLOWING FOR EACH ASSESSMENT:
A.  ADD PERFORMANCE AND/OR OBJECTIVE ASSESSMENTS FOR EACH COURSE, INCLUDING THE TITLES AND DUE DATES OF THE ASSESSMENTS
B.  INSERT PHOTOS TO NOTES USING A CAMERA
C.  ENTER, EDIT, AND DELETE ASSESSMENT INFORMATION
D.  SET ALERTS FOR Due DATES
 
B.  DESIGN AT LEAST THE FOLLOWING SEVEN SCREEN LAYOUTS, INCLUDING APPROPRIATE GUI ELEMENTS FOR EACH SCREEN:
•   A HOME SCREEN
•   A LIST OF TERMS
•   A LIST OF COURSES
•   A LIST OF ASSESSMENTS
•   A DETAILED COURSE VIEW
•   A DETAILED TERM VIEW
•   A DETAILED ASSESSMENT VIEW
 
NOTE: YOU ARE REQUIRED TO DESIGN THE SEVEN SCREENS LISTED IN PART B BUT ARE NOT LIMITED TO ONLY SEVEN.
 
C.  CREATE A SCHEDULER AND PROGRESS TRACKING APPLICATION IN YOUR MOBILE APPLICATION FROM PART A.
 
NOTE: THIS CAN BE THE IMPLEMENTATION OF PART A.
 
1.  INCLUDE THE FOLLOWING IMPLEMENTATION REQUIREMENTS:
•   AN ARRAYLIST
•   AN INTENT CLASS
•   NAVIGATION CAPABILITY BETWEEN MULTIPLE SCREENS USING ACTIVITY
•   AT LEAST THREE ACTIVITIES
•   EVENTS (E.G., A CLICK EVENT)
•   THE ABILITY TO WORK IN PORTRAIT AND LANDSCAPE LAYOUT
•   INTERACTIVE CAPABILITY (E.G., THE ABILITY TO ACCEPT AND ACT UPON USER INPUT)
•   A DATABASE TO STORE AND RETRIEVE APPLICATION DATA
•   AN APPLICATION TITLE AND AN ICON
•   THE USE OF AT LEAST TWO DIFFERENT METHODS TO SAVE DATA (E.G., SHAREDPREFERENCE, SQLITE)
•   NOTIFICATIONS OR ALERTS
•   THE USE OF BOTH DECLARATIVE AND PROGRAMMATIC METHODS TO CREATE A USER INTERFACE
 
NOTE: YOUR APPLICATION SHOULD WORK AT LEAST ON ANDROID 4.0 (API LEVEL 14).
 
2.  INCLUDE AT LEAST THE FOLLOWING INTERFACE REQUIREMENTS:
•   SEVEN SCREENS
•   THE ABILITY TO SCROLL VERTICALLY
•   AN ACTION BAR
•   A MENU
•   AN IMAGEVIEW
•   TWO LAYOUTS
•   INPUT CONTROLS
•   BUTTONS
 
D.  CREATE A STORYBOARD THAT INCLUDES EACH OF THE MENUS AND SCREENS FROM PART B TO DEMONSTRATE APPLICATION FLOW.
 
E.  PROVIDE SCREENSHOTS TO DEMONSTRATE THAT YOU HAVE CREATED A DEPLOYMENT PACKAGE.
 
NOTE: VERIFY THAT ALL THE REQUIRED FUNCTIONS OF YOUR APPLICATION ARE WORKING BY EXECUTING THE APK FILE.
 
F.  REFLECT ON THE CREATION OF YOUR MOBILE APPLICATION BY DOING THE FOLLOWING:
1.  EXPLAIN MOBILE APPLICATION DEVELOPMENT THROUGH THE CONTEXT OF THE ARCHITECTURE INVOLVED, INCLUDING HARDWARE AND SOFTWARE CAPABILITIES AND LIMITATIONS.
A.  IDENTIFY WHICH VERSION OF THE OPERATING SYSTEM YOUR APPLICATION WAS DEVELOPED UNDER AND IS COMPATIBLE WITH.
2.  DESCRIBE (SUGGESTED LENGTH OF AT LEAST ONE PARAGRAPH) THE CHALLENGES YOU FACED DURING THE DEVELOPMENT OF THE MOBILE APPLICATION.
3.  DESCRIBE (SUGGESTED LENGTH OF AT LEAST ONE PARAGRAPH) HOW YOU OVERCAME EACH CHALLENGE DISCUSSED IN PART F1.
4.  DESCRIBE (SUGGESTED LENGTH OF AT LEAST ONE PARAGRAPH) WHAT YOU WOULD DO DIFFERENTLY IF YOU DID THE PROJECT AGAIN.
5.  DESCRIBE HOW EMULATORS ARE USED AND THE PROS AND CONS OF USING AN EMULATOR VS. USING A DEVELOPMENT DEVICE.
 
G.  WHEN YOU USE SOURCES, INCLUDE ALL IN-TEXT CITATIONS AND REFERENCES IN APA FORMAT.
 
NOTE: FOR DEFINITIONS OF TERMS COMMONLY USED IN THE RUBRIC, SEE THE RUBRIC TERMS WEB LINK INCLUDED IN THE EVALUATION PROCEDURES SECTION.

NOTE: WHEN USING SOURCES TO SUPPORT IDEAS AND ELEMENTS IN AN ASSESSMENT, THE SUBMISSION MUST INCLUDE APA FORMATTED IN-TEXT CITATIONS WITH A CORRESPONDING REFERENCE LIST FOR ANY DIRECT QUOTES OR PARAPHRASING. IT IS NOT NECESSARY TO LIST SOURCES THAT WERE CONSULTED IF THEY HAVE NOT BEEN QUOTED OR PARAPHRASED IN THE TEXT OF THE ASSESSMENT.

NOTE: NO MORE THAN A COMBINED TOTAL OF 30% OF A SUBMISSION CAN BE DIRECTLY QUOTED OR CLOSELY PARAPHRASED FROM OUTSIDE SOURCES, EVEN IF CITED CORRECTLY. FOR TIPS ON USING APA STYLE, PLEASE REFER TO THE APA HANDOUT WEB LINK INCLUDED IN THE APA GUIDELINES SECTION.